# OS files
._*
.DS_Store
Thumbs.db

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Always-ignore extensions
*~
*.diff
*.err
*.log
*.orig
*.pyc
*.rej
*.sass-cache
*.sw?
*.vi

# SublimeText project files
*.sublime-*

# nodejs
lib-cov
*.seed
*.log
#*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

# Misc
.gitshots

# Project specific files
dist
